<footer>
    <!-- botão whats -->
    <!-- <a href="https://api.whatsapp.com/send?l=pt_BR&phone=5511964617712&text=Ol%C3%A1%2C%20vim%20atrav%C3%A9s%20do%20site."
        target="blank" class="btn-whats">
        <i class="bi bi-whatsapp mr-2 text-light my-float"></i>
    </a> -->
    <div class="container text-light mobile-center">
        <main>
            <div class="
              d-flex
              justify-content-between
              flex-column flex-md-row
              center-mobile
            ">
                <div>
                    <h3>ProfManu</h3>

                    <p>
                        Se você está procurando aulas particulares personalizadas,
                        revisões, traduções ou desenho instrucional está no lugar certo.
                    </p>

                    <div class="d-flex flex-column">
                        <a
                            href="https://api.whatsapp.com/send?l=pt_BR&phone=5511964617712&text=Ol%C3%A1%2C%20vim%20atrav%C3%A9s%20do%20site.">
                            <i class="bi bi-phone mr-2"></i> <span>(11) 9 6461-7712 </span>
                        </a>
                        <a href="mailto:manumunyz@hotmail.com" title="manumunyz@hotmail.com">
                            <i class="bi bi-envelope mr-2"> </i> <span>manumunyz@hotmail.com</span>

                        </a>
                    </div>
                </div>

                <div class="">
                    <ul>
                        <li><a href="./#">Página inicial</a></li>
                        <li><a href="./#sobre">Serviços</a></li>
                        <li><a href="./#quem-sou">Quem é a Prof Manu?</a></li>
                        <li><a href="./#valores">Como funciona?</a></li>
                        <li><a href="./#duvidas">Dúvidas frequentes</a></li>
                    </ul>
                </div>

                <div class="">
                    <ul>
                        <li>
                            <a href="./design.html">Design instrucional/ <br />
                                educacional</a>
                        </li>
                        <li><a href="./revisoes.html">Revisões / Traduções</a></li>
                        <li>
                            <a href="./portugues.html">Aulas de português, produção e interpretação de texto</a>
                        </li>
                        <li><a href="./espanhol.html">Aulas de espanhol</a></li>
                    </ul>
                </div>

                <div class="">
                    <ul>
                        <li>
                            <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&id=K4868557Z5"
                                target="_blank" rel="noopener noreferrer" title="Lattes">
                                <i class="bi bi-award mr-2"></i>
                                <span>Lattes</span>
                            </a>
                        </li>

                        <li>
                            <a href="https://www.linkedin.com/in/manoela-macedo-muniz-52499795/" target="_blank"
                                rel="noopener noreferrer" title="Linkedin">
                                <i class="bi bi-linkedin mr-2"></i>
                                <span>Linkedin</span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.instagram.com/_profmanu/" target="_blank" rel="noopener noreferrer"
                                title="@_profmanu">
                                <i class="bi bi-instagram mr-2"></i>
                                <span>Instagram</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </main>
        <div class="
            d-flex
            align-items-center
            justify-content-between
            flex-column flex-sm-row
            center-mobile
            mt-4
          ">
            <span class="mt-4"> <span class="myDate"></span> © Todos os direitos reservados. <strong>profManu</strong>
            </span>

            <div class="mt-4">
                Fotografias por:
                <a href="http://danisandrini.com.br/" target="_blank">Dani Sandrini</a>
            </div>

            <div class="group mt-4">
                <span class="mr-2">Desenvolvido por:</span>
                <a href="https://wpsgames.com.br/">
                    <img src="https://wpsgames.com.br/assets/ico-crow.svg" alt="WPS Games" width="40px" />
                </a>
            </div>
        </div>
    </div>
</footer>

<div vw class="enabled">
    <div vw-access-button class="active"></div>
    <div vw-plugin-wrapper>
        <div class="vw-plugin-top-wrapper"></div>
    </div>
</div>