<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P3F4623W" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header class="container-fluid" id="#sticker">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top default-header">
        <div class="container">
            <a href="./#" class="navbar-brand logo">
                <img src="img/logo.svg" alt="logo Manoela" class="d-inline-block" />
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <div class="icon">
                    <div class="hamburguer"></div>
                </div>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mx-auto text-md-center">
                    <li>
                        <a href="./index.html" class="nav-link">Página Inicial </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Serviços
                        </a>
                        <ul class="dropdown-menu mx-auto" aria-labelledby="navbarDropdown">
                            <li>
                                <a class="dropdown-item" href="./#sobre">Serviços </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="./espanhol.html">Aula de espanhol
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="./portugues.html">Aula de português
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="./revisoes.html">Revisão e Tradução
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="./design.html">Design Instrucional
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="./manu.html" class="nav-link">Quem é a Prof Manu?</a>
                    </li>

                    <li>
                        <a href="./#valores" class="nav-link">Como funciona? </a>
                    </li>
                    <li>
                        <a href="./#duvidas" class="nav-link">Dúvidas Frequentes</a>
                    </li>
                </ul>

                <a href="https://api.whatsapp.com/send?l=pt_BR&phone=5511964617712&text=Ol%C3%A1%2C%20vim%20atrav%C3%A9s%20do%20site."
                    target="blank" class=" btn-invite nav-link text-white shadow">
                    <i class="bi bi-whatsapp mr-2"></i>Contato</a>
            </div>
        </div>
    </nav>
</header>